
/* When the screen is too small to fit in two columns*/
@media screen and (min-width: 959px) {
  .checkoutCon {
    /*background-color: white;*/
    width: calc(100% - 4rem);

    height: 400px;
    margin: 3rem 2rem 0 2rem;


  }

}

/* When the screen is too small to fit in two columns*/
@media screen and (max-width: 958px) {
  .checkoutCon {
    /*background-color: white;*/
    width: calc(100% - 4rem);
    margin: 3rem 2rem 0 2rem;

  }





}

/* When the image of items are too big to be stored*/
@media screen and (max-width: 600px) {
  .checkout_items {
    margin-left: -18rem;
    margin-top:-6rem;
  }
    .item {
        display:block;
    }
    .pay {
        display: block;
    }


  .click {
    display: block;
    width: 140px;
    margin: auto;
  }


  }





}


    .checkout_items {
        flex: 4;
        /*background-color: red;*/
        height: 100px;
    }



    .item {
        height: 200px;
        background-color: white;
        margin-left: 20rem;
        margin-bottom: 11rem;
        display: flex;
    }


    .imagedisplay {
        background-image: url("../img/1.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 200px;
        height: 100%;
    }

    .imagedisplay1 {
        background-image: url("../img/p8.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 200px;
        height: 100%;
    }

    .item_display {
        flex: 3;
        display: block;
        height: auto;
        width: 400px;
    }


    .item_name {
        font-size: 18px;
        margin-top: .4rem;
        padding-bottom: .3rem;
        width: 180px;
    }

    .pay {
        margin: 20rem;
        margin-top: 10rem;
    }

    .click {
        margin-top: 1.8rem;
    }




















